<div class="pv4-l mw7 center" id="mc_embed_signup">
  <form action="//weflyaerialphotography.us16.list-manage.com/subscribe/post?u=ae45b1df83372630e63206d79&amp;id=3b24b700f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="validate bg-red mw7 center pa4 br2-ns ba b--black-10">
    <h2 class="pa0 f3 f2-ns fw7 white tc mv3">Interested in hiring a drone operator?</h2>
    <fieldset class="cf bn ma0 pa0 measure tc center">
      <legend class="pa0 f5 f4-ns mb3 black mv3">Drop your email here and we’ll contact you.</legend>
      <div class="cf mb3" id="mc_embed_signup_scroll">
        <label class="clip" for="mce-EMAIL">Email Address</label>
        <input class="f6 f5-l input-reset bn black bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns sans-serif mb3 db center" placeholder="Your Email Address"  type="email" value="" name="EMAIL" id="email-address" id="mce-EMAIL" required>
        <label class="clip" for="mce-MESSAGE">Your Message</label>
        <input type="text" value="" name="MESSAGE"  placeholder="Your Message" class="f6 f5-l input-reset bn black bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns sans-serif db mb3 center" id="mce-MESSAGE">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ae45b1df83372630e63206d79_3b24b700f5" tabindex="-1" value=""></div>
        <div class="db">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="f6 f5-l button-reset pv3 tc bn bg-animate bg-black hover-bg-red white hover-white pointer w-100 w-75-m w-80-l br2-ns br--right-ns sans-serif center">
        </div>
      </div>
    </fieldset>
    <p class="italic f6 lh-copy mt0 mb3 tc">or email us at <a href="mailto:&#110;&#097;&#046;&#106;&#117;&#098;&#114;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="code link white">&#110;&#097;&#046;&#106;&#117;&#098;&#114;&#101;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>.</p>
  </form>
</div>