<div class="dib mv3">
  <a href="https://www.facebook.com/weflydronesllc/" class="link grow fl pv2 pr3"><img src="//cdn.shopify.com/s/files/1/0237/1581/t/5/assets/facebook.svg?16254225017203190206" alt="We Fly Drones Facebook page" class="h2 w-auto"/></a>
  <a href="https://www.youtube.com/channel/UCxVD2__vRgVyw4dcKhKyiLA" class="link grow fl pv2 pr3"><img src="//cdn.shopify.com/s/files/1/0237/1581/t/5/assets/youtube.svg?16254225017203190206" alt="We Fly Drones YouTube channel" class="h2 w-auto"/></a>
</div>